[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
scipy = "*"
rdkit-pypi = "*"
datamol = "*"
pandas = "*"
tqdm = "*"
matplotlib = "*"
ray = "*"
dataframe-image = "*"
duckdb = "*"

[dev-packages]

[requires]
python_version = "3.8"
