[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
scipy = "*"
pandas = "*"
tqdm = "*"
duckdb = "*"

[dev-packages]
matplotlib = "*"
ray = "*"
rdkit-pypi = "*"
datamol = "*"
dataframe-image = "*"

[requires]
python_version = "3.8"
